#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{%- if l3vpn_lsp is defined -%}
{% for lsp in l3vpn_lsp %}

{% if lsp.device != inventory_hostname %}
protocols mpls {
    replace:
    label-switched-path {{ inventory_hostname }}-{{ lsp.device }} {
        to {{ hostvars[lsp.device]['my_loopback'] }};
    }
}
{# if device != inventory_hostname #}
{% endif %}

{# for lsp in l3vpn_lsp #}
{% endfor %}
{# endif l3vpn_lsp is defined and inventory_hostname in l3vpn_lsp #}
{%- endif -%}
