#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% if l3vpn_connectors is defined %}
{% for name,connectors in l3vpn_connectors.items() %}

replace:
routing-instances {{ name|lower }} {
    instance-type vrf;
    {% if connectors is defined %}
    {% for connector in connectors %}
    interface {{ connector.interface }};
    {% endfor %}
    {% endif %}
    vrf-import {{ name|lower }}-in;
    vrf-export {{ name|lower }}-out;
    route-distinguisher {{ l3vpn_general.rd }}:{{ l3vpn_instances[name].id }};
    vrf-target target:{{ l3vpn_general.target }}:{{ l3vpn_instances[name].id }};
}

policy-options {
    replace:
    community {{ name|upper }} members target:{{ l3vpn_general.target }}:{{ l3vpn_instances[name].id }};
}

policy-options {
    replace:
    policy-statement {{ name|lower }}-in {
        term bgp {
            from {
                protocol bgp;
                community {{ name|upper }};
            }
            then accept;
        }
        then reject;
    }
}

policy-options {
    replace:
    policy-statement {{ name|lower }}-out {
        term bgp {
            from {
                protocol bgp;
            }
            then {
                community add {{ name|upper }};
                accept;
            }
        }
        then reject;
    }
}

{# for connector in l3vpn_connectors #}
{% endfor %}

{# endif l3vpn_connectors is defined #}
{% endif %}


