protocols {

  bgp {

    replace:
    group ipv4-ibgp {

      type internal;
      description "iBGP {{ my_asn }}"
      
      family inet {
        unicast;
      }

      family inet-vpn {
        unicast;
      }

      local-as {{ my_asn }};
      local-address {{ my_loopback }};
      advertise-inactive;

      {% for peer in peers %}
      neighbor {{ peer.ipv4 }};
      {% endfor %}

      import ipv4-ibgp-in;
      export ipv4-ibgp-out;

    }
  }
}


policy-options {

  replace:
  policy-statement ipv4-ibgp-in {
    then accept;
  }

  replace:
  policy-statement ipv4-ibgp-out {
    then accept;
  }
}
