#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% if ibgp_peers is defined and my_ipv4_loopback is defined %}
protocols {
  bgp {

    replace:
    group ipv4-ibgp {

      type internal;
      description "iBGP {{ my_asn }}"
      
      family inet {
        unicast;
      }

      family inet-vpn {
        unicast;
      }

      family inet6-vpn {
        unicast;
      }

      local-as {{ my_asn }};
      local-address {{ my_ipv4_loopback }};
      advertise-inactive;

      {% for peer in ibgp_peers %}
      neighbor {{ peer.ipv4 }};
      {% endfor %}

      import ipv4-ibgp-in;
      export ipv4-ibgp-out;
    }
    
  }
}

policy-options {

  replace:
  policy-statement ipv4-ibgp-in {
    then accept;
  }

  replace:
  policy-statement ipv4-ibgp-out {
    then accept;
  }
}

{# if ibgp_peers is defined and my_ipv4_loopback is defined #}
{% endif %}