#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% if igp is defined %}

groups {
  replace:
  ldp-interface {
    protocols {
      ldp {
        interface <> {
          hello-interval 1;
          hold-time 5;
        }
      }
    }
  }
  replace:
  lsp-default {
    protocols {
      mpls {
        label-switched-path <> {
          optimize-timer 1800;
          adaptive;
        }
      }
    }
  }
  replace:
  mpls-interface {
    interfaces {
      <*> {
        unit <*> {
          family mpls;
        }
      }
    }
  }
}

protocols {

  replace:
  rsvp {
    load-balance bandwidth;
  }

  replace:
  mpls {
    apply-groups lsp-default;
    path-mtu allow-fragmentation;
    path-mtu rsvp mtu-signaling;
    statistics file mpls-stats;
    optimize-aggressive;
  }

  replace:
  ldp {
    track-igp-metric;
    keepalive-interval 3;
    keepalive-timeout 18;
  }
}



{% if igp.loopbacks is defined %}
{% for loopback in igp.loopbacks %}
{% if loopback.vrf is not defined %}
protocols {

  rsvp {
    interface lo0.{{ loopback.vlan }};
  }

  ldp {
    interface lo0.{{ loopback.vlan }} apply-groups ldp-interface;
  }
}
{# Endif loopback.vrf is not defined (inet0) #}
{% endif %}
{# Endfor loopback in igp.loopbacks #}
{% endfor %}
{# Endif igp.loopbacks is defined #}
{% endif %}


{% if igp.neighbors is defined %}
{% for neighbor in igp.neighbors %}
{% if neighbor.vlans is defined %}

{% for vlan in neighbor.vlans %}
{% if vlan.vrf is not defined %}
{% set id = vlan.id %}


protocols {

  rsvp {
    interface {{ neighbor.interface }}.{{ id }} aggregate;
  }

  mpls {
    interface {{ neighbor.interface }}.{{ id }};
  }

  ldp {
    interface {{ neighbor.interface }}.{{ id }} apply-groups ldp-interface;
  }
}

interfaces {
  {{ neighbor.interface }}.{{ id }} {
    apply-groups mpls-interface;
  }
}
{# Endif vlan.vrf is not defined #}
{% endif %}
{# for vlan in neighbor.vlans #}
{% endfor %}

{# Endif neighbor.type equal core interface #}
{% endif %}
{# Endfor neighbor in igp.neighbors #}
{% endfor %}
{# Endif igp.neighbors is defined #}
{% endif %}


{% endif %}



