#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% if igp is defined %}

groups {
  replace:
  ldp-interface {
    protocols {
      ldp {
        interface <> {
          hello-interval 1;
          hold-time 5;
        }
      }
    }
  }
  replace:
  mpls-interface {
    interfaces {
      <*> {
        unit <*> {
          family mpls;
        }
      }
    }
  }
}

protocols {

  replace:
  mpls {
    path-mtu allow-fragmentation;
    statistics file mpls-stats;
    optimize-aggressive;
    /* Do not show IP on the traceroute */
    /* no-propagate-ttl; */
    /* Do not decrease TTL : ICMP */
    /* no-decrement-ttl; */
    /* Enable IPv6 over MPLS */
    ipv6-tunneling;
  }

  replace:
  ldp {
    /* Use different Label for v4 and v6 */
    deaggregate;
    track-igp-metric;
    keepalive-interval 3;
    keepalive-timeout 18;
    /* Use v4 and v6 */
    family {
      inet6;
      inet;
    }
  }

}

{% if igp.loopbacks is defined %}
{% for loopback in igp.loopbacks %}
protocols {
  ldp {
    interface {{ loopback.name }}.{{ loopback.vlan }};
  }
}
{% endfor %}
{% endif %}


{% if igp.neighbors is defined %}
{% for neighbor in igp.neighbors %}
{% if neighbor.vlans is defined %}

{% for vlan in neighbor.vlans %}
{% if vlan.vrf is not defined %}
protocols {
  mpls {
    interface {{ neighbor.interface }}.{{ vlan.id }};
  }

  ldp {
    interface {{ neighbor.interface }}.{{ vlan.id }} apply-groups ldp-interface;
  }
}

interfaces {
  {{ neighbor.interface }}.{{ vlan.id }} {
    apply-groups mpls-interface;
  }
}
{# if vlan.vrf is not defined #}
{% endif %}
{# for vlan in neighbor.vlans #}
{% endfor %}

{# if neighbor.vlans is defined #}
{% endif %}
{# for neighbor in igp.neighbors #}
{% endfor %}
{# if igp.neighbors is defined #}
{% endif %}
{# if igp is defined #}
{% endif %}



