#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% if igp is defined %}

groups {
  replace:
  /* OSPF Core */
  ospf-core {
    protocols {
      ospf {
        area <*> {
          interface <*> {
            interface-type p2p;
          }
        }
      }
    }
  }
  replace:
  /* OSPF Core */
  ospf3-core {
    protocols {
      ospf3 {
        area <*> {
          interface <*> {
            interface-type p2p;
          }
        }
      }
    }
  }
}

{% if igp.loopbacks is defined %}
{% for loopback in igp.loopbacks %}

routing-options {
  replace:
  router-id {{ loopback.ipv4.local_ip }};
}

{% if loopback.ipv4 is defined %}
protocols {
  replace:
  ospf {
    traceoptions {
      file ospf_inet.log size 1m files 5;
      flag error;
    }
    area 0.0.0.0 {
      replace:
      interface {{ loopback.name }}.{{ loopback.vlan }} {
        passive;
      }
    }
  }
}
{% endif %}
{% if loopback.ipv6 is defined %}
protocols {
  replace:
  ospf3 {
    traceoptions {
      file ospf3_inet.log size 1m files 5;
      flag error;
    }
    area 0.0.0.0 {
      replace:
      interface {{ loopback.name }}.{{ loopback.vlan }} {
        passive;
      }
    }
  }
}
{% endif %}

{# Endfor loopback in igp.loopbacks #}
{% endfor %}
{# Endif igp.loopbacks is defined #}
{% endif %}


{% if igp.neighbors is defined %}
{% for neighbor in igp.neighbors %}
{% if neighbor.vlans is defined %}
{% for vlan in neighbor.vlans %}

{% if vlan.ipv4 is defined %}
protocols {
  ospf {
    area 0.0.0.0 {
      replace:
      interface {{ neighbor.interface }}.{{ vlan.id }} {
        apply-groups ospf-core;

        {% if neighbor.metric is defined -%}
        metric {{ neighbor.metric }};
        {# if neighbor.metric is defined #}
        {%- endif %}
      }
    }
  }
}
{% endif %}

{% if vlan.ipv6 is defined %}
protocols {
  ospf3 {
    area 0.0.0.0 {
      replace:
      interface {{ neighbor.interface }}.{{ vlan.id }} {
        apply-groups ospf3-core;

        {% if neighbor.metric is defined -%}
        metric {{ neighbor.metric }};
        {# if neighbor.metric is defined #}
        {%- endif %}
      }
    }
  }
}
{% endif %}

{# Endfor vlan in neighbors.vlans #}
{% endfor %}
{# Endif neighbors.vlans is defined #}
{% endif %}

{# Endfor loopback in igp.loopbacks #}
{% endfor %}
{# Endif igp.loopbacks is defined #}
{% endif %}


{# Endif igp is defined #}
{% endif %}

